body{
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
}

/*Cabecera*/

#head{
    height: 10vh;
    display: flex;
    align-items: center;
}

#izq{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

#der{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.imghead{
    height: 3vh;
}

.imgperfil{
    height: 5vh;
    border: solid rgba(211, 211, 211, 0.679) 4px;
    border-radius: 50%;
}

/*Cuerpo del medio*/

#main{
    background-color: chocolate;
    height: 70vh;
}

#imgmain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#search{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 40vw;
}

/*Parte de abajo*/

#footer{
    background-color: darkgray;
    height: 20vh;
}

#up{
    height: 10vh;
    background-color: bisque;
}

#down{
    height: 10vh;
}